* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #161717;
    color: #fff;
}

.app {
    display: flex;
    height: 100vh;
}
.whatsapp-sidebar {
  width: 70px;
  height: 100vh;
  background-color: #1D1F1F;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.top-icons,
.bottom-icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bottom-icons{
    padding-top: 10px;
    border-top: #a09a9a3b 3px solid;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aebac1;
  font-size: 20px;
  cursor: pointer;
  position: relative;
}

.icon:hover {
  background-color: #374248;
}

.icon.active {
  color: #ffffff;
}

/* Notification badge */
.badge {
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: #25d366;
  color: #000;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* Online / status dot */
.status-dot {
  position: absolute;
  top: 0px;
  right: -4px;
  width: 10px;
  height: 10px;
  background-color: #25d366;
  border-radius: 50%;
  border: 2px solid #202c33;
}


.sidebar{
    width: 5%;
    background-color: #111b21;
    border-right: 1px solid #2a3942;
    display: flex;
    flex-direction: column;
}

/* ===== Calls List ===== */
.calls-list {
    width: 23%;
    background-color: #161717;
    border-right: 1px solid #2a3942;
    display: flex;
    flex-direction: column;
}

.calls-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.search {
    padding: 10px 15px;
}

.search input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    background-color: #202c33;
    color: #fff;
}

.section-title {
    padding: 10px 15px;
    font-size: 13px;
    color: #8696a0;
}

.favourite {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.favourite i {
    color: #00a884;
}

/* ===== Call Item ===== */
.call-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    cursor: pointer;
}

.call-item:hover {
    background-color: #202c33;
}

.call-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 14px;
}

.status {
    font-size: 12px;
}

.status.outgoing {
    color: #8696a0;
}

.status.missed {
    color: #f15c6d;
}

.time {
    font-size: 12px;
    color: #8696a0;
}

/* ===== Main Section ===== */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actions {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 30px;
}

.action {
    background-color: #202c33;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
}

.action i {
    font-size: 28px;
    color: #00a884;
    margin-bottom: 10px;
}

.action span {
    display: block;
    font-size: 14px;
}

.encryption {
    margin-top: 40px;
    font-size: 13px;
    color: #8696a0;
}
